@define-color gnome_hig_red_2 rgb(237, 51, 59);
@define-color gnome_hig_red_5 rgb(165, 29, 45);

.task-widget {
  border-radius: 5px;
  border: 1px solid @borders;
  background-color: @theme_base_color;
  margin-top: 10px;
}

.tasks-listbox {
  background-color: @theme_bg_color;
}

.red-progress > trough > progress {
  background-color: @gnome_hig_red_5;
  border-color: @gnome_hig_red_2;
}
